<a class="want-have-default">
	<div class="want">
		<img src="/images/resources/heart.svg" />
	</div>
	<div class="have">
		<i class="material-icons">check_circle</i>
	</div>
	<i class="arrow material-icons">keyboard_arrow_down</i>
</a>

<a class="want-have-select">
	<div class="want">
		<img src="/images/resources/heart.svg" />
	</div>
	<div class="have">
		<i class="material-icons">check_circle</i>
	</div>
	<div class="close">
		<i class="material-icons">close</i>
	</div>
</a>

<a class="want-selected">
	<img src="/images/resources/heart.svg" />
	<span>I Want This</span>
</a>

<a class="have-selected">
	<i class="material-icons">check_circle</i>
	<span>I Own This</span>
</a>
